# Agrupando notícias pelos seus títulos

- Tratar os dados
    - Criar três subsets do dataset de três anos diferentes
    - Spellcheking?
    - Remover datas, números e horários
- Extrair features
    - 2-gram ou 3-gram? 4-char-gram?
    - Fazer contagem da frequência ou da presença de cada palavra?
    - Remover palavras únicas?
    - Usar TF-IDF
- Treinamento
    - Usar k-means
    - Verificar o método de inicialização
    - Determinar o número de de clusters: plotar cost function X # clusters
    - Verificar o significado de cada cluster e se o número de clusters fazem sentido para os temas
    - Mostrar o resultado final dos clusters por
        - cost function, variância e silhouette coeficient
        - word clouds e palavras ou n-grams mais frequentes.

In [8]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import re

### Tratando os dados

In [21]:
df = pd.read_csv('news_headlines.csv')
df.head()

   publish_date                                      headline_text
0      20030303  unhooked brakes to blame for taiwan train disa...
1      20030918      oldest prisoner in tas released citing health
2      20030913     nine reportedly dead in portuguese plane crash
3      20031031                nurses welcome medicare rebate plan
4      20030930                             un cuts its iraq staff

In [41]:
# quantidade de numeros
ocurr =  []
for hl in list(df['headline_text'].values[:]):
    ocurr += re.findall(r"\d+", hl)
len(ocurr)

78277

In [39]:
# 
#ocurr =  []
for hl in list(df['headline_text'].values[:]):
    res = re.search(r"\d+\:\d+", hl)
    if(not (res is None)):
        print(hl)
#    ocurr += res
#len(ocurr)

watergate 2:0
watergate 2:0
most ato workers do not down tools at 4:51 tax commissioner
watergate 2:0

In [45]:
for hl in list(df['headline_text'].values[:100]):
    res = re.sub(r"\d+", "", hl)
    if(res != hl):
        print(hl)
        print(res)

indonesia says 200 rebels killed in aceh
indonesia says  rebels killed in aceh
us house of reps approves 124bn for iraq
us house of reps approves bn for iraq
blair govt to allow 15000 asylum families to stay
blair govt to allow  asylum families to stay
nt company wins 22m rail tender
nt company wins m rail tender
f1s iceman clings to championship dream
fs iceman clings to championship dream